[user]
	name = Jonathan Johnson
	email = me@jondavidjohn.com
[push]
	default = current
[branch]
	autosetupmerge = true
	autosetuprebase = always
[alias]
	root = rev-parse --show-toplevel
	fork = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
	branch-lg =  "!git lg `git fork`.."
	open = "!$EDITOR $(git status -sb | tail +2 | cut -d' ' -f3)"
	pusht = push --follow-tags
	pullmerge = pull --no-rebase
	st = status
  d = diff
  dc = diff --cached
  dw = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
  db = "!git diff `git fork`.."
	aa = add --all
	ci = commit -v
	cia = commit -v -a
	co = checkout
	cp = cherry-pick
	l = log
	ll = log -p
	lm = log master..
	llm = log -p master..
	b = branch
	subup = !(git submodule sync && git submodule update --init --recursive)
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' --abbrev-commit --date=relative
	ready = rebase -i @{u}
	incoming = !(git fetch --quiet && git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' ..@{u})
	outgoing = !(git fetch --quiet && git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' @{u}..)
	attach = "!f() { remote=${1-origin}; git branch --set-upstream-to=\"${remote}/$(git rev-parse --abbrev-ref HEAD)\"; }; f"
	check = diff --check
	hound = !(test -f .hound.yml && rubocop-git --hound master HEAD)
	sourcetree = !(open -a SourceTree $(git rev-parse --show-toplevel || echo "."))
[core]
	excludesfile = ~/.gitignore
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
[diff]
	tool = diffmerge
[merge]
	tool = diffmerge
	conflictstyle = diff3
[rerere]
	enabled = true
[github]
	user = jondavidjohn
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "diffmerge"]
	cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[mergetool]
	keepBackup = false
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
