[user]
	name = Jonathan Johnson
	email = jon@crowdfavorite.com
[push]
	default = current
[branch]
	autosetupmerge = true
	autosetuprebase = always
[alias]
	pullmerge = pull --no-rebase
	st = status -sb
	d = diff
	diffw = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
	ci = commit -v
	cia = commit -v -a
	co = checkout
	cp = cherry-pick
	dci = svn dcommit
	l = log
	ll = log -p
	lm = log master..
	llm = log -p master..
	b = branch
	subup = !(git submodule sync && git submodule update --init --recursive)
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' --abbrev-commit --date=relative
	ready = rebase -i @{u}
	incoming = !(git fetch --quiet && git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' ..@{u})
	outgoing = !(git fetch --quiet && git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' @{u}..)
	attach = "!f() { remote=${1-origin}; git branch --set-upstream-to=\"${remote}/$(git rev-parse --abbrev-ref HEAD)\"; }; f"
	check = diff --check
	sourcetree = !(open -a SourceTree $(git rev-parse --show-toplevel || echo "."))
[core]
	excludesfile = ~/.gitignore
	editor = vim
[color]
	diff = auto
	status = auto
	branch = auto
[diff]
	tool = meld
[merge]
	tool = meld
	conflictstyle = diff3
[rerere]
	enabled = true
